#diagramm {
  width: 500px;
  height: 250px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

#tortendiagramm {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 250px 250px 0 0;
  background-color: white;
  overflow: hidden;
  border-width: 20px;
  box-sizing: border-box;
}

#innerer-kreis {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 175px;
  top: 175px;
  background-color: white;
}
